.sidebar {
  height: 100%;
  background-color: #f1f1f1;
  position: absolute;
  left: -100px;
  padding: 20px;
  width: 160px;
  @media only screen and (max-width: 1000px) {
    position: relative;
    width: 100%;
  }
}

.sidebar-animation {
  animation: slide 0.5s forwards;
}

@keyframes slide {
  100% {
    left: 0;
  }
}
