<div class="form-container">
  <form (ngSubmit)="onSubmit()">
    <div class="form-control">
      <label for="firstName">First name</label>
      <input
        [(ngModel)]="firstName"
        type="text"
        name="firstName"
        id="firstName"
      />
    </div>
    <div class="form-control">
      <label for="">Last name</label>
      <input [(ngModel)]="lastName" type="text" name="lastName" id="lastName" />
    </div>
    <div class="form-control">
      <label for="text-area"> Message </label>
      <textarea
        [(ngModel)]="textarea"
        class="text-area"
        name="textarea"
        id="textarea"
      ></textarea>
    </div>
    <button class="btn" value="Save Post" type="submit">Submit</button>
  </form>
</div>
